/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Tutorial Case

   Cycle Pathology Styles to Reset Style Defaults
  Author:  Garrett Shepherd
  Date:   10/9/2016  

   Filename:         cp_reset.css
   Supporting Files: none

*/

/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, section, nav{
	display: block;
}

/* Set the default page element styles */

body * {
	font-family: Verdana, Geneva, sand-serif;
	font-size: 100%;
	font-weight: inehrit;
	line-height : 1.2em;
	list-style: none;
	vertical-align: baseline;
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}