/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 2

   The Spice Bowl Payment Form Style Sheet
   Author: Garrett Shepherd
   Date:   10/24/2016

   Filename:         payment.css
   Supporting Files: go.png, stop.png

*/

fieldset {
	border: none;
	margin: 5px 5px 5px 5px;
}

fieldset legend {
	background-color: rgb(239, 198, 145);
	color: black;
	margin: 10px 10px;
	text-indent: 20px;
	width: 100%;
	border-radius: 10px;
}

label {
	displa: block;
	float: left;
	clear: left;
	font-size: 0.8em;
	text-align: right;
	margin: 2px 5px 2px 5px;
	width: 25%;
}

input {
	display: block;
	float: left;
	font-size: 0.9em;
	width: 60%;
	margin: 2px 0px 2px 0px;
}

select {
	display: block;
	float: left;
	font-size: 0.9em;
	margin: 2px;
}

textarea {
	display: block;
	float: left;
	font-size: 0.9em;
	height: 75px;
	width: 60%;
}

fieldset.optionGroup {
	margin: 0px 0px 0px 25%;
}

fieldset.optionGroup label {
	display: inline;
	float: none;
	width: 100px;
}

fieldset.optionGroup input[type="radio"] {
	display: inline;
	float: none;
	margin: 0px;
	width: 20px;
}

#csc input {
	width: 50px;
}

input[type="submit"] {
	background-color: rgb(239, 198, 145);
	float: none;
	width: 150px;
	height: 30px;
	margin: 10px auto 10px auto;
	border-radius: 15px;
}

input:focus, select:focus, textarea:focus {
	background-color: rgb(255, 218, 165);
}

input:focus:valid {
	background: rgb(215, 255, 215) url(go.png) bottom right no-repeat;
}

input:focus:invalid {
	background: rgb(255, 245, 215) url(stop.png) bottom right no-repeat;
}

/* Amendments to Case02 
	
	Textbook said: "When an input element receives the focus and is invalid, change the background color to the value (255, 245, 215) and display the stop.png background image file in the bottom-right corner of the input box with no tiling. [...]

	When an input element receives the focus and is valid, change the background color to the value (215, 255, 215) and display the go.png image in the bottom-right corner of the input box with no tiling."
	
	I amended these bcause the radio and submit buttons looked weird with a green check in them and changing colors.

*/

input[type="radio"]:focus:valid {
	background: none;
}

input[type="submit"]:focus:valid {
	background: rgb(239, 198, 145);
}