/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 2

   Mobile Styles
   Author: Garrett Shepherd
   Date:   11/1/2016

   Filename:         wcmobile.css
   Supporting Files: 

*/

